{{page-title "Repo Viewer"}}
<header class="bg-black text-white">
    <nav class="navbar navbar-expand navbar-dark bg-black">   
        <div class="container-fluid container-md">
            <div class="navbar-brand"><FaIcon @icon="code-branch" @size="1x"  @prefix="fas"/> Repo Viewer</div>
            <div class="nav-item">
                <a href="https://github.com/segoja/dealfront-assignment-v2" target="_blank" rel="noopener noreferrer" class="nav-link px-3" title="View on GitHub">
                <FaIcon @icon="github" @size="1x" @prefix="fab" /></a>
            </div>
        </div>
    </nav>
</header>
<main class="w-100 flex-fill overflow-auto py-3">
    <RepoList />
</main>
<footer class="bg-black text-white py-3">
        <div class="container-fluid container-md">
            <div class="row w-100 justify-content-center">
                <div class="col-auto text-muted"><a href="mailto: segoja@gmail.com" target="_blank" rel="noopener noreferrer" class="link-underline-dark text-muted">Javier Sevilla</a> @ 2025</div>
            </div> 
        </div>
</footer>